*.ply
*.pt
images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive

eval
out

# evaluation:
temp/
shapes/
imgs/
vids/

stylegan3/results

networks/model_ir_se50.pth
networks/vgg16.pt
networks/ffhqrebalanced512-128.pkl

dataset_preprocessing/BFM/Exp_Pca.bin